<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28509643373-fjbo02b53kr20fq5qpebej2ebhvtj389.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28509643373-fjbo02b53kr20fq5qpebej2ebhvtj389</string>
	<key>API_KEY</key>
	<string>AIzaSyB9DfLbtl_KTwNlwoikzcH5M_cjxKGbUpw</string>
	<key>GCM_SENDER_ID</key>
	<string>28509643373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiago.FireFeed</string>
	<key>PROJECT_ID</key>
	<string>firefeed-33236</string>
	<key>STORAGE_BUCKET</key>
	<string>firefeed-33236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28509643373:ios:0e83d5782e97226e</string>
	<key>DATABASE_URL</key>
	<string>https://firefeed-33236.firebaseio.com</string>
</dict>
</plist>